.main {
  max-width: 100%;
  width: 1000px;
  margin: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.home {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
}

.home > div h1 {
  font-weight: 900px;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  font-size: 35px;
}
.home > div h2 {
  font-weight: bolder;
  font-weight: 900px;
  font-size: 25px;
}
.home > div {
  margin: 20px 0;
}
.home > div:first-child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.home > div:first-child > div:nth-child(1) {
  width: 48%;
}
.home > div:first-child > div:nth-child(2) {
  position: relative;
  width: calc(0.95 * 464px);
  height: calc(0.95 * 390px);
  max-width: 100%;
}
.enter {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  margin-top: 30px;
  /* display: none !important; */
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.enter input {
  background-color: transparent;
  outline: none;
  border: none;
  min-width: 150px;
  padding: 10px 25px;
  border-radius: 25px;
}
.enter button {
  background-color: #a4d6f7;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  font-size: medium;
  outline: none;
  width: fit-content;
  padding: 10px 25px;
}
.home > div:first-child > div:nth-child(2) img {
  object-fit: contain;
}
.home > div:last-child {
  display: flex;
  color: black;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: space-between;
}
.home > div:last-child i {
  color: #05c69d;
  font-size: 30px;
  margin: 0 5px;
}
@media screen and (max-width: 936px) {
  .home > div:first-child > div:nth-child(2) {
    position: relative;
    width: calc(0.85 * 464px);
    height: calc(0.85 * 390px);
  }
}
@media screen and (max-width: 889px) {
  .home > div:first-child > div:nth-child(1) {
    width: 75%;
  }
  .home > div:first-child {
    justify-content: center;
  }
  .home > div:first-child > div:nth-child(2) {
    margin-top: 60px;
  }
}

@media screen and (max-width: 580px) {
  .home > div:first-child > div:nth-child(1) {
    width: 100%;
  }
  .enter {
    max-width: 100%;
  }
}
@media screen and (max-width: 464px) {
  .home > div:first-child {
    justify-content: center;
    flex-flow: column wrap;
  }

  .home > div h1 {
    font-size: 30px;
  }
  .home > div {
    padding: 30px 15px;
  }
  .home > div:first-child > div:nth-child(2) {
    position: relative;
    width: calc(0.75 * 464px);
    height: calc(0.75 * 390px);
  }
  .main {
    padding: 0.5rem;
  }
  .enter button {
    font-size: small;
    padding: 7px 25px;
  }
  .enter input {
    min-width: 90px;
    font-size: small;
    padding: 10px 25px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 390px) {
  .home > div:first-child > div:nth-child(2) {
    width: calc(0.65 * 464px);
    height: calc(0.65 * 390px);
  }

  .enter button {
    padding: 7px 18px;
    width: 48%;
  }
}
@media screen and (max-width: 360px) {
  .home > div:first-child > div:nth-child(2) {
    width: calc(0.55 * 464px);
    height: calc(0.55 * 390px);
  }
  .enter {
    padding: 10px 15px;
  }
  .home p {
    font-size: x-small;
  }
  .enter button {
    font-size: xx-small;
    padding: 7px 18px;
    width: 40%;
  }
  .home > div h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 300px) {
  .home > div:first-child > div:nth-child(2) {
    width: calc(0.4 * 464px);
    height: calc(0.4 * 390px);
  }
  .enter {
    padding: 10px 15px;
  }
  .home p {
    font-size: xx-small;
  }
  .home > div h1 {
    font-size: 20px;
  }
}
